@import 'settings/vars';
@import '../../node_modules/normalize-scss/sass/normalize';

@include normalize();

*:focus {
  outline: 0;
}

html {
  font-size: $font-base-size;
  color: $gray;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.15rem;
}
