@import '../../../scss/settings/vars';

.member {
  height: 100%;
  position: relative;
  height: 100%;
  width: 100%;

  .member-panel {
    position: absolute;
    padding: $padding;
    height: 100%;
    width: 100%;
    background: $background-transparency;
  }

  .member-name {
    font-weight: bold;
  }

  p {
    position: absolute;
    padding: $padding;
    height: 50%;
    width: 100%;
    left: 0;
    margin: 0;
    bottom: 0;
    color: white;
  }
}
